<footer class="mf-site-footer">
  <div class="mf-site-footer__inner">
    <span>&copy; <%= new Date().getFullYear() %> SharedWallet</span>
    <span>Finanzas personales y compartidas con claridad</span>
  </div>
</footer>
